@charset "UTF-8";
body.is-fixed {
  overflow: hidden;
}

body.is-fixed::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 199;
}

input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  opacity: 0.6;
  padding-left: 8px;
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0.8;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0.8;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-main__left {
  width: 80%;
  height: 100%;
}

@media (max-width: 1200px) {
  .l-main__left {
    width: 100%;
  }
}

.l-main__left.is-open {
  position: relative;
  overflow-y: auto;
}

.l-main__right {
  width: 20%;
  min-width: 260px;
  background-color: #F2EDE9;
  height: inherit;
}

@media (min-width: 1201px) {
  .l-main__right {
    margin-top: -200px;
  }
}

@media (max-width: 1200px) {
  .l-main__right {
    display: none;
  }
}

.l-main__right.is-open {
  -webkit-animation: SlideIn 0.5s;
          animation: SlideIn 0.5s;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 200;
  right: 0;
  width: 40%;
  overflow-y: auto;
}

@media (max-width: 599px) {
  .l-main__right.is-open {
    width: 80%;
  }
}

.l-main.is-open {
  position: relative;
}

.l-header {
  width: 100%;
  background-color: #FFF7EF;
}

@media (min-width: 1201px) {
  .l-header {
    width: 80%;
  }
}

.l-header__top {
  display: none;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}

@media (max-width: 1200px) {
  .l-header__top {
    display: block;
  }
}

.l-header__bottom {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .l-header__bottom {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.l-header__bottom__left {
  margin-left: 3rem;
}

@media (max-width: 1200px) {
  .l-header__bottom__left {
    margin: 0;
  }
}

.l-header__bottom__left a {
  color: #707070;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .l-header__bottom__left a {
    font-size: 40px;
  }
}

.l-header__bottom__right {
  margin-right: 1.8rem;
}

@media (max-width: 599px) {
  .l-header__bottom__right {
    margin: 0 auto;
  }
}

.l-header__section {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #707070;
  color: #FFF7EF;
}

.l-header__section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header__section ul li a {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  padding: 0 20px;
}

.l-header__section ul li a:hover {
  background-color: #FFF7EF;
  color: #707070;
}

.l-sidebar {
  padding-left: 46px;
}

@media (max-width: 1200px) {
  .l-sidebar {
    padding-top: 100px;
  }
}

.l-sidebar > p {
  display: block;
  font-size: 34px;
  font-weight: 600;
  color: #707070;
  margin-top: 82px;
  margin-bottom: 90px;
}

@media (max-width: 1200px) {
  .l-sidebar > p {
    display: none;
  }
}

.l-sidebar ul li {
  padding-bottom: 15px;
  font-size: 24px;
}

.l-sidebar ul li > a {
  color: #707070;
}

.l-sidebar ul li > a:hover {
  color: #fff;
}

.l-sidebar ul li ul {
  padding-top: 45px;
  padding-left: 20px;
}

.l-sidebar ul li ul li {
  font-size: 20px;
  padding-bottom: 30px;
}

.l-sidebar ul li ul li > a {
  color: #707070;
}

.l-sidebar ul li ul li > a:hover {
  color: #fff;
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-footer__section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-footer__section ul li {
  position: relative;
  padding: 43px 10px;
}

.l-footer__section ul li::before {
  position: absolute;
  left: 0;
  content: "";
  background-color: #fff;
  width: 2px;
  height: 20px;
}

.l-footer__section ul li:first-of-type::before {
  display: none;
}

.l-footer__section ul li a {
  color: #fff;
  font-size: 20px;
}

.l-footer p small {
  color: #fff;
  font-size: 14px;
}

.c-wrap p {
  font-size: 16px;
  padding: 9px 19px;
  color: #3c2a10;
  line-height: 1.5;
}

.c-wrap__search-result {
  padding: 30px 100px;
}

@media (max-width: 1200px) {
  .c-wrap__search-result {
    padding: 30px 40px;
  }
}

@media (max-width: 599px) {
  .c-wrap__search-result {
    padding: 30px 22px;
  }
}

.c-wrap__404error {
  padding: 50px;
  text-align: center;
}

.c-wrap__404error h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 60px;
  color: #707070;
}

.c-wrap__404error img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 50px;
}

.c-wrap__404error button {
  background-color: #fff7ef;
  border: solid 2px #707070;
  border-radius: 10px;
}

.c-wrap__404error button a {
  display: block;
  padding: 14px 40px;
  color: #707070;
  font-size: 1.4rem;
}

.c-button {
  width: 100%;
  padding-bottom: 60px;
}

.c-button button {
  width: 100%;
  text-align: center;
  background-color: #F2EDE9;
  border-radius: 30px;
}

.c-button button a {
  display: block;
  width: 430px;
  color: #3C2A10;
  font-size: 16px;
  line-height: 100px;
}

@media (max-width: 599px) {
  .c-button button a {
    width: 100%;
  }
}

.c-button__close {
  cursor: pointer;
}

.c-button__close.is-open {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.c-button__close.is-open::before {
  position: absolute;
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  background-color: #707070;
  width: 50px;
  height: 5px;
}

.c-button__close.is-open::after {
  position: absolute;
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: "";
  background-color: #707070;
  width: 50px;
  height: 5px;
}

.c-category-title {
  display: none;
}

.p-branch-menu {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .p-branch-menu {
    height: auto;
  }
}

@media (max-width: 599px) {
  .p-branch-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
}

.p-branch-menu__wrap {
  position: relative;
  height: 1200px;
  margin: 80px 40px;
  width: 50%;
  background-size: cover;
}

@media (max-width: 1200px) {
  .p-branch-menu__wrap {
    height: 800px;
    margin: 60px 20px;
  }
}

@media (max-width: 599px) {
  .p-branch-menu__wrap {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.p-branch-menu .takeout {
  background: url(../img/takeout.png) no-repeat center;
}

.p-branch-menu .eatin {
  background: url(../img/eatin.png);
}

.p-branch-menu h2 {
  position: relative;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 20px;
}

@media (max-width: 599px) {
  .p-branch-menu h2 {
    font-size: 40px;
  }
}

.p-branch-menu h2::after {
  position: absolute;
  top: 120px;
  left: 26px;
  content: "";
  width: 60px;
  height: 6px;
  background-color: #fff;
}

@media (max-width: 599px) {
  .p-branch-menu h2::after {
    display: none;
  }
}

.p-box {
  position: absolute;
  bottom: 0;
}

.p-box__description {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 20px 20px;
}

.p-box__description h4 {
  font-size: 24px;
  padding: 22px 19px;
  color: #3C2A10;
}

.p-box__description p {
  font-size: 16px;
  padding: 10px 19px 20px 19px;
  color: #3C2A10;
  line-height: 1.5;
}

.p-box--archivepage, .p-box--searchpage {
  padding: 70px 100px;
}

@media (max-width: 1200px) {
  .p-box--archivepage, .p-box--searchpage {
    padding: 40px;
  }
}

@media (max-width: 599px) {
  .p-box--archivepage, .p-box--searchpage {
    padding: 35px 22px 0;
  }
}

.p-box--archivepage h4, .p-box--searchpage h4 {
  font-size: 36px;
  font-weight: 500;
}

@media (max-width: 599px) {
  .p-box--archivepage h4, .p-box--searchpage h4 {
    font-size: 28px;
  }
}

.p-box--archivepage p, .p-box--searchpage p {
  font-size: 16px;
  padding-top: 33px;
  line-height: 1.8;
}

.p-pagenation--pc, .p-pagenation--tab {
  width: 100%;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-pagenation--pc ul, .p-pagenation--tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-pagenation--pc ul li, .p-pagenation--tab ul li {
  padding: 0 8px;
  font-size: 1.2rem;
}

.p-pagenation--pc ul li a, .p-pagenation--tab ul li a {
  display: block;
  color: #3C2B1C;
  border: solid 1px #3C2B1C;
  padding: 10px;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li a, .p-pagenation--tab ul li a {
    display: none;
  }
}

.p-pagenation--pc ul li a.prev, .p-pagenation--tab ul li a.prev {
  border: none;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li a.prev, .p-pagenation--tab ul li a.prev {
    display: block;
    position: absolute;
    left: 0;
  }
}

.p-pagenation--pc ul li a.prev::after, .p-pagenation--tab ul li a.prev::after {
  width: 70px;
  content: "前へ";
  display: none;
  position: absolute;
  left: 30px;
  top: 12px;
  padding-left: 3px;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li a.prev::after, .p-pagenation--tab ul li a.prev::after {
    display: block;
  }
}

.p-pagenation--pc ul li a.next, .p-pagenation--tab ul li a.next {
  border: none;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li a.next, .p-pagenation--tab ul li a.next {
    display: block;
    position: absolute;
    right: 0;
  }
}

.p-pagenation--pc ul li a.next::before, .p-pagenation--tab ul li a.next::before {
  width: 70px;
  text-align: right;
  content: "次へ";
  display: none;
  position: absolute;
  right: 30px;
  top: 12px;
  padding-right: 3px;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li a.next::before, .p-pagenation--tab ul li a.next::before {
    display: block;
  }
}

.p-pagenation--pc ul li span, .p-pagenation--tab ul li span {
  padding: 10px;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li span, .p-pagenation--tab ul li span {
    display: none;
  }
}

.p-pagenation--pc ul li .current, .p-pagenation--tab ul li .current {
  border: solid 1px #3C2B1C;
  background-color: #3C2B1C;
  color: #fff;
}

@media (max-width: 599px) {
  .p-pagenation--pc ul li .current, .p-pagenation--tab ul li .current {
    display: none;
  }
}

.p-article {
  padding: 30px 90px 180px;
  font-weight: normal;
  color: #3C2A10;
}

@media (max-width: 1200px) {
  .p-article {
    padding: 70px 60px;
  }
}

@media (max-width: 599px) {
  .p-article {
    padding: 35px 22px;
  }
}

.p-article h2 {
  padding: 33px 0;
  font-size: 36px;
}

.p-article h3 {
  padding: 33px 0;
  font-size: 28px;
}

.p-article h4, .p-article h5, .p-article h6 {
  padding: 33px 0;
  font-size: 20px;
}

.p-article p {
  padding: 33px 0;
  font-size: 16px;
  line-height: 1.6;
}

.p-article blockquote {
  padding: 33px 0;
  background-color: #F5F5F5;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.6;
}

@media (max-width: 599px) {
  .p-article blockquote {
    padding-top: 30px;
  }
}

.p-article blockquote > p {
  padding: 0 0 33px;
}

.p-article ol {
  padding: 33px 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 599px) {
  .p-article ol {
    padding: 0 20px 30px;
  }
}

.p-article ol > li {
  list-style: decimal;
}

.p-article ol > li > ol {
  padding: 30px 20px;
}

.p-article ul {
  padding: 33px 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 599px) {
  .p-article ul {
    padding: 0 0 30px;
  }
}

.p-article ul > li > ul {
  padding: 30px 20px;
}

.p-article pre {
  padding: 33px 0;
  width: 100%;
  background-color: #F5F5F5;
  padding: 50px;
}

.p-article pre code {
  font-size: 16px;
  line-height: 1.6;
}

.p-article figure {
  padding: 33px 0;
}

.p-article figure table {
  padding: 60px 0;
  font-size: 16px;
  width: 100%;
}

.p-article figure table tr {
  padding: 30px;
}

.p-article figure table tr th, .p-article figure table tr td {
  padding: 30px;
  font-weight: 500;
  border: solid 1px;
  text-align: inherit;
}

.p-article figure img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.p-bar {
  width: 100%;
  background-color: #fff7ef;
  text-align: right;
  padding-right: 10px;
}

.p-bar__button {
  color: #707070;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff7ef;
  border: none;
  line-height: 60px;
  padding: 0;
}

@media (max-width: 599px) {
  .p-bar__button {
    font-size: 30px;
  }
}

.p-search-form__box {
  width: 300px;
  height: 3rem;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .p-search-form__box {
    width: 396px;
  }
}

@media (max-width: 599px) {
  .p-search-form__box {
    width: 70%;
  }
}

.p-search-form__button {
  width: 7rem;
  height: 3rem;
  background-color: #F2EDE9;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  color: #707070;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .p-search-form__button {
    width: 196px;
  }
}

@media (max-width: 599px) {
  .p-search-form__button {
    width: 25%;
  }
}

.p-mainvisual {
  height: 530px;
  background: url(../img/front-mainvisual.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 599px) {
  .p-mainvisual {
    height: 280px;
  }
}

.p-mainvisual p {
  font-size: 40px;
  color: #fff;
  padding-left: 86px;
  line-height: 530px;
}

@media (max-width: 599px) {
  .p-mainvisual p {
    line-height: 280px;
    padding-left: 25px;
    font-size: 36px;
  }
}

.p-mainvisual--archive, .p-mainvisual--search, .p-mainvisual--single, .p-mainvisual--page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-size: cover;
}

.p-mainvisual--archive, .p-mainvisual--search {
  height: 240px;
  background: url(../img/archive_top.png) no-repeat center;
  z-index: -15;
}

@media (max-width: 599px) {
  .p-mainvisual--archive, .p-mainvisual--search {
    height: 280px;
  }
}

.p-mainvisual--archive::before, .p-mainvisual--search::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
}

.p-mainvisual--single, .p-mainvisual--page {
  position: relative;
  height: 500px;
}

@media (max-width: 599px) {
  .p-mainvisual--single, .p-mainvisual--page {
    height: 225px;
  }
}

.p-mainvisual--single h1, .p-mainvisual--page h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  padding-left: 86px;
  z-index: 10;
}

@media (max-width: 599px) {
  .p-mainvisual--single h1, .p-mainvisual--page h1 {
    font-size: 36px;
    padding-left: 26px;
  }
}

.p-mainvisual--single {
  background: url(../img/single_top.png) no-repeat center;
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
}

.p-mainvisual--page {
  background: url(../img/page_top.png) no-repeat center;
}

.p-mainvisual--page::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.p-mainvisual__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 86px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  .p-mainvisual__text {
    padding-left: 37px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-mainvisual__text h2 {
  color: #fff;
  font-size: 50px;
}

@media (max-width: 599px) {
  .p-mainvisual__text h2 {
    font-size: 36px;
  }
}

.p-mainvisual__text p {
  color: #fff;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 10px;
}

@media (max-width: 599px) {
  .p-mainvisual__text p {
    padding-left: 0;
  }
}

.p-menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 30px;
  height: auto;
  width: 100%;
}

@media (min-width: 1201px) {
  .p-menu-card {
    max-height: 400px;
  }
}

@media (max-width: 1200px) {
  .p-menu-card {
    padding: 20px 40px;
  }
}

@media (max-width: 599px) {
  .p-menu-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}

.p-menu-card img {
  max-height: 400px;
  width: 43%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 599px) {
  .p-menu-card img {
    height: 200px;
    width: 100%;
  }
}

.p-menu-card__intro {
  width: 57%;
  background-color: #3C2B1C;
  padding: 50px 63px;
  height: auto;
}

@media (max-width: 1200px) {
  .p-menu-card__intro {
    padding: 33px;
  }
}

@media (max-width: 599px) {
  .p-menu-card__intro {
    width: 100%;
    padding: 40px 20px;
  }
}

.p-menu-card__intro h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .p-menu-card__intro h3 {
    font-size: 20px;
  }
}

.p-menu-card__intro p {
  color: #fff;
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 50px;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  .p-menu-card__intro p {
    padding-top: 13px;
    padding-bottom: 45px;
  }
}

.p-menu-card__intro a {
  display: block;
  width: 60%;
  color: #707070;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  margin: auto;
  padding: 25px;
}

.p-menu-card__intro--custom {
  width: 50%;
}

@media (max-width: 599px) {
  .p-menu-card__intro--custom {
    width: 100%;
  }
}

.p-menu-card__intro--custom > h1 {
  padding: 20px 0 20px 20px;
  font-size: 40px;
}

.p-menu-card__info {
  width: 100%;
  padding: 30px 20px;
}

.p-menu-card__info > p {
  font-size: 20px;
  padding: 10px 0;
}

.p-menu-card--custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.p-menu-card--custom img {
  width: 50%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 599px) {
  .p-menu-card--custom img {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .p-menu-card--custom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-contents {
  height: 100%;
}

.p-map {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .p-map {
    height: 500px;
  }
}

@media (max-width: 599px) {
  .p-map {
    height: 700px;
  }
}

.p-map iframe {
  position: absolute;
  top: -130px;
}

@media (max-width: 599px) {
  .p-map iframe {
    top: -50px;
  }
}

.p-map__layer1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

@media (max-width: 1200px) {
  .p-map__layer1 {
    width: 0;
  }
}

@media (max-width: 599px) {
  .p-map__layer1 {
    width: 100%;
    height: 100%;
  }
}

.p-map__layer2 {
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

@media (max-width: 1200px) {
  .p-map__layer2 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 599px) {
  .p-map__layer2 {
    height: 50%;
  }
}

.p-map__wrap {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 15;
  padding: 90px 0 0 119px;
}

@media (max-width: 1200px) {
  .p-map__wrap {
    width: 100%;
    padding: 60px;
  }
}

@media (max-width: 599px) {
  .p-map__wrap {
    padding: 40px;
  }
}

.p-map__wrap h3 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

@media (max-width: 599px) {
  .p-map__wrap h3 {
    font-size: 30px;
  }
}

.p-map__wrap h3::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 3px;
  background-color: #fff;
  top: 200px;
  left: 119px;
}

@media (max-width: 1200px) {
  .p-map__wrap h3::after {
    top: 160px;
    left: 70px;
  }
}

@media (max-width: 599px) {
  .p-map__wrap h3::after {
    top: 95px;
    left: 45px;
  }
}

.p-map__wrap p {
  padding-top: 127px;
  color: #fff;
  line-height: 1.8;
  font-size: 16px;
}

@media (max-width: 599px) {
  .p-map__wrap p {
    padding-top: 45px;
  }
}

.p-comments {
  margin-top: 100px;
}

.p-comments h3 {
  padding: 18px 0;
}

.p-comments > ol {
  padding: 0;
}

.p-comments > ol > li {
  list-style-type: none;
  margin: 30px 0;
  border: solid 2px #707070;
}

.p-comments__pagenation {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-comments__pagenation span, .p-comments__pagenation a {
  font-size: 18px;
  display: block;
  color: #3C2B1C;
  padding: 10px;
}

.comment-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-author cite {
  padding-left: 18px;
}

.comment-author span {
  padding-left: 5px;
}

.reply > a {
  padding-left: 10px;
  color: #707070;
}

.comment-form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-form p {
  padding: 20px 0;
}

.comment-form-author, .comment-form-email, .comment-form-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-form .form-submit .submit {
  width: 10%;
  height: 35px;
  background-color: #fff7ef;
  color: #707070;
  border: solid 1px #707070;
  border-radius: 5px;
}

@media (max-width: 599px) {
  .comment-form .form-submit .submit {
    width: 20%;
  }
}

.p-pagelink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-pagelink p {
  font-size: 1.4rem;
}

.p-pagelink p span, .p-pagelink p a {
  padding: 5px;
  border: solid 2px #3B2A10;
  margin: 0 3px;
}

.p-pagelink p span {
  color: #fff7ef;
  background-color: #3B2A10;
}

.p-pagelink p a {
  color: #3B2A10;
}

.p-article-tag a {
  margin: 0 3px;
  padding: 2px;
  color: #fff7ff;
  background-color: #707070;
  border: solid 1px #707070;
  border-radius: 5px;
}

.wp-caption, .gallery-caption {
  font-size: 1.3rem;
}

.wp-caption-text {
  margin-top: -20px;
}

.sticky {
  padding: 10px;
  border: solid 2px #ffc062;
}

.bypostauthor {
  background-color: #fff7ef;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1rem;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/*# sourceMappingURL=hamburger.css.map */