/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.l-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-contents__left {
  width: 80%;
  height: 100%;
}

@media (max-width: 1024px) {
  .l-contents__left {
    position: absolute;
    width: 100%;
    top: 60px;
  }
}

.l-contents__right {
  width: 20%;
  background-color: #F2EDE9;
  height: inherit;
}

@media (max-width: 1024px) {
  .l-contents__right {
    position: fixed;
    overflow-y: scroll;
    left: 100%;
  }
}

.l-contents__right.is-open {
  z-index: 200;
  left: 60%;
  width: 40%;
}

.l-header {
  width: 100%;
  height: 200px;
  background-color: #FFF7EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .l-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.l-header__left {
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .l-header__left {
    margin: 0;
  }
}

.l-header__left a {
  color: #707070;
  font-size: 4rem;
}

.l-header__form {
  margin-right: 1.8rem;
}

.l-header__form__box {
  width: 300px;
  height: 3rem;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .l-header__form__box {
    width: 396px;
  }
}

.l-header__form__button {
  width: 7rem;
  height: 3rem;
  background-color: #F2EDE9;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  color: #707070;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .l-header__form__button {
    width: 196px;
  }
}

.l-main {
  height: 100%;
}

.l-sidebar {
  padding-left: 46px;
}

@media (max-width: 1024px) {
  .l-sidebar {
    padding-top: 100px;
  }
}

.l-sidebar > a {
  display: block;
  font-size: 34px;
  font-weight: 600;
  color: #707070;
  margin-top: 82px;
  margin-bottom: 90px;
}

@media (max-width: 1024px) {
  .l-sidebar > a {
    display: none;
  }
}

.l-sidebar ul li {
  padding-bottom: 15px;
  font-size: 24px;
}

.l-sidebar ul li > a {
  color: #707070;
}

.l-sidebar ul li ul {
  padding-top: 45px;
  padding-left: 20px;
}

.l-sidebar ul li ul li {
  font-size: 20px;
  padding-bottom: 30px;
}

.l-sidebar ul li ul li a {
  color: #707070;
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-footer__section {
  padding-top: 43px;
}

.l-footer__section a {
  color: #fff;
  font-size: 20px;
  padding: 43px 10px;
}

.l-footer__section a:last-of-type {
  position: relative;
}

.l-footer__section a:last-of-type::before {
  position: absolute;
  left: -3px;
  content: "";
  background-color: #fff;
  width: 2px;
  height: 20px;
}

.l-footer p {
  color: #fff;
  padding-top: 39px;
  font-size: 14px;
}

.c-wrap {
  height: 174px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 20px 20px;
}

.c-wrap h4 {
  font-size: 24px;
  padding: 22px 19px;
  color: #3C2A10;
}

.c-wrap p {
  font-size: 16px;
  padding: 9px 19px;
  color: #3C2A10;
  line-height: 1.5;
}

.c-wrap__code {
  width: 100%;
  background-color: #F5F5F5;
  padding: 50px;
}

.c-wrap__code code {
  font-size: 16px;
  line-height: 1.6;
}

.c-wrap__table {
  width: 100%;
  padding: 60px 0;
}

.c-wrap__table table {
  font-size: 16px;
  width: 100%;
}

.c-wrap__table table tr {
  padding: 30px;
}

.c-wrap__table table tr th, .c-wrap__table table tr td {
  padding: 30px;
  font-weight: 500;
  border: solid 1px;
  text-align: inherit;
}

.c-wrap__pagetop {
  background: url(/img/page_top.png) no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.c-wrap__pagetop::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.c-wrap__pagetop h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  padding-left: 86px;
  z-index: 15;
}

.c-layer1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.c-layer2 {
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.c-button {
  width: 100%;
  padding-bottom: 60px;
}

.c-button button {
  background-color: #F2EDE9;
  border-radius: 30px;
}

.c-button button a {
  display: block;
  width: 430px;
  color: #3C2A10;
  font-size: 16px;
  line-height: 100px;
}

.c-button__close {
  cursor: pointer;
}

.c-button__close.is-open {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.c-button__close.is-open::before {
  position: absolute;
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  background-color: #707070;
  width: 50px;
  height: 5px;
}

.c-button__close.is-open::after {
  position: absolute;
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: "";
  background-color: #707070;
  width: 50px;
  height: 5px;
}

.p-front__top {
  height: 530px;
  background: url(/img/front_main.jpg) no-repeat;
  background-size: cover;
}

.p-front__top p {
  font-size: 40px;
  color: #fff;
  padding-left: 86px;
  padding-top: 259px;
}

.p-front__flex {
  height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-front__flex__section {
  position: relative;
  height: 1200px;
  margin: 120px 60px;
  width: 50%;
  background-size: cover;
}

.p-front__flex .takeout {
  background: url(/img/takeout.png) no-repeat center;
}

.p-front__flex .eatin {
  background: url(/img/eatin.png);
}

.p-front__flex h2 {
  position: relative;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 20px;
}

.p-front__flex h2::after {
  position: absolute;
  top: 120px;
  left: 26px;
  content: "";
  width: 60px;
  height: 6px;
  background-color: #fff;
}

.p-front__map {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.p-front__map iframe {
  position: absolute;
  top: -130px;
}

.p-front__map__section {
  width: 50%;
  position: absolute;
  top: 0;
  z-index: 15;
  padding: 90px 0 0 119px;
}

.p-front__map__section h3 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.p-front__map__section h3::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 3px;
  background-color: #fff;
  top: 200px;
  left: 119px;
}

.p-front__map__section p {
  padding-top: 127px;
  color: #fff;
  line-height: 1.8;
  font-size: 16px;
}

.p-box {
  position: absolute;
  bottom: 0;
}

.p-archive__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 240px;
  background: url(/img/archive_top.png) no-repeat center;
  background-size: cover;
  z-index: -15;
}

.p-archive__top::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
}

.p-archive__top__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 86px;
}

.p-archive__top__text h2 {
  color: #fff;
  font-size: 50px;
}

.p-archive__top__text p {
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
}

.p-archive__middle {
  padding: 70px 100px;
}

.p-archive__middle h4 {
  font-size: 36px;
  font-weight: 500;
}

.p-archive__middle p {
  font-size: 16px;
  padding-top: 33px;
  line-height: 1.8;
}

.p-archive__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 30px;
  height: 470px;
}

.p-archive__card__intro {
  background-color: #3C2B1C;
  padding: 50px 63px;
}

.p-archive__card__intro h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

.p-archive__card__intro h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-top: 60px;
}

.p-archive__card__intro p {
  color: #fff;
  font-size: 16px;
  padding-top: 22px;
  padding-bottom: 60px;
  line-height: 1.6;
}

.p-archive__card__intro a {
  display: block;
  width: 60%;
  color: #707070;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  margin: auto;
  padding: 30px;
}

.p-pagenation {
  width: 100%;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-pagenation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-pagenation ul li {
  padding: 0 8px;
  font-size: 1.2rem;
}

.p-pagenation ul li:first-of-type {
  padding-top: 10px;
}

.p-pagenation ul li:first-of-type::after {
  content: "<<";
  color: #3C2B1C;
  padding-left: 10px;
}

.p-pagenation ul li:last-of-type {
  position: relative;
}

.p-pagenation ul li:last-of-type::after {
  position: absolute;
  top: 10px;
  right: -24px;
  content: ">>";
  color: #3C2B1C;
}

.p-pagenation ul li a {
  display: block;
  color: #3C2B1C;
  border: solid 1px #3C2B1C;
  padding: 10px;
}

.p-article__top {
  width: 100%;
  height: 500px;
  background: url(/img/single_top.png) no-repeat center;
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-article__top h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  padding-left: 86px;
}

.p-article__wrap {
  padding: 30px 90px 180px;
}

.p-article__wrap__texttest * {
  padding: 33px 0;
}

.p-article__wrap__texttest h2, .p-article__wrap__texttest h3, .p-article__wrap__texttest h4, .p-article__wrap__texttest h5, .p-article__wrap__texttest h6 {
  font-weight: normal;
}

.p-article__wrap__texttest h2 {
  font-size: 36px;
}

.p-article__wrap__texttest p {
  font-size: 16px;
  line-height: 1.6;
}

.p-article__wrap__texttest h3 {
  font-size: 28px;
}

.p-article__wrap__texttest h4, .p-article__wrap__texttest h5, .p-article__wrap__texttest h6 {
  font-size: 20px;
}

.p-article__wrap__quote {
  width: 100%;
  height: 320px;
  background-color: #F5F5F5;
}

.p-article__wrap__quote * {
  font-size: 16px;
}

.p-article__wrap__quote blockquote, .p-article__wrap__quote p {
  padding: 50px 60px 0 50px;
}

.p-article__wrap__quote blockquote {
  line-height: 1.6;
}

.p-article__wrap__list {
  width: 100%;
  padding: 67px;
  font-size: 16px;
}

.p-article__wrap__list ol {
  line-height: 1.6;
  padding-bottom: 60px;
}

.p-article__wrap__list ol li {
  list-style: decimal;
}

.p-article__wrap__list ol li ol {
  padding: 30px 20px;
}

.p-article__wrap__list ul {
  line-height: 1.6;
}

.p-article__wrap__list ul li ul {
  padding: 30px 20px;
}

.p-article__wrap p {
  font-weight: bold;
}

.p-picture * {
  padding: 15px 0;
}

.p-picture__single img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.p-picture__column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-picture__column p {
  line-height: 1.5;
}

.p-picture .top p {
  padding-left: 40px;
}

.p-picture .bottom p {
  padding-right: 40px;
}

.p-picture__half {
  width: 50%;
  margin: 0 auto;
}

.p-picture__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-picture__tile img {
  width: 32%;
}

.p-bar {
  display: none;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 100;
  background-color: #fff7ef;
  text-align: right;
}

.p-bar__button {
  position: absolute;
  right: 10px;
  color: #707070;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff7ef;
  border: none;
}

@media (max-width: 1024px) {
  .p-bar {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */