.c-button{
    width: 100%;
    padding-bottom: 60px;
    button{
        background-color: #F2EDE9;
        border-radius: 30px;
        a{
            display: block;
            width: 430px;
            color: #3C2A10;
            font-size: 16px;
            line-height: 100px;
        }
    }
}