.c-wrap {
    p {
        font-size: 16px;
        padding: 9px 19px;
        color: #3c2a10;
        line-height: 1.5;
    }
    &__search-result{
        padding: 30px 100px;
        @include tab{
            padding: 30px 40px;
        }
        @include sp{
            padding: 30px 22px;
        }
    }
    &__404error{
        padding: 50px;
        text-align: center;
        h2{
            text-align: left;
            font-size: 2rem;
            font-weight: normal;
            padding-bottom: 60px;
            color: #707070;
        }
        img{
            width: 80%;
            object-fit: cover;
            padding-bottom: 50px;
        }
        button{
            background-color: #fff7ef;
            border: solid 2px #707070;
            border-radius: 10px;
            a{
                display: block;
                padding: 14px 40px;
                color: #707070;
                font-size: 1.4rem;
            }    
        }
    }
}
