.c-wrap{
    height: 174px;
    background-color: rgba(#fff, 0.6);
    margin: 0 20px 20px;
    h4{
        font-size: 24px;
        padding: 22px 19px;
        color: #3C2A10;
    }
    p{
        font-size: 16px;
        padding: 9px 19px;
        color: #3C2A10;
        line-height: 1.5;
    }
}