.c-wrap {
    p {
        font-size: 16px;
        padding: 9px 19px;
        color: #3c2a10;
        line-height: 1.5;
    }
    &__search-result{
        padding: 30px 100px;
        @include tab{
            padding: 30px 40px;
        }
        @include sp{
            padding: 30px 22px;
        }
    }
}
