.p-comments{
  margin-top: 100px;
  h3{
    padding: 18px 0;
  }
  >ol{
    padding: 0;
    >li{
      list-style-type: none;
      margin: 30px 0;
      border: solid 2px #707070;
    }
  }
  &__pagenation{
    padding-bottom: 30px;
    display: flex;
    justify-content: center; 
    span,a{
      font-size: 18px;
      display: block;
      color: #3C2B1C;
      padding: 10px;
    }
  }
}
.comment-author{
  display: flex;
  align-items: center;
  cite{
    padding-left: 18px;
  }
  span{
    padding-left: 5px;
  }
}

.reply{
  >a{
    padding-left: 10px;
    color: #707070
  }
}

.comment-form{
  &-comment{
    display: flex;
    flex-direction: column;
  }
  p{
    padding: 20px 0;
  }
  &-author,&-email,&-url{
    display: flex;
    flex-direction: column;
  }
  .form-submit{
    .submit{
      width: 10%;
      height: 35px;
      background-color: #fff7ef;
      color: #707070;
      border: solid 1px #707070;
      border-radius: 5px;
      @include sp{
        width: 20%;
      }
    }
  }
}