.p-pagelink{
  display: flex;
  justify-content: center;
  p{
    font-size: 1.4rem;
    span,a{
      padding: 5px;
      border: solid 2px #3B2A10;
      margin: 0 3px;
    }
    span{
      color: #fff7ef;
      background-color: #3B2A10;
    }
    a{
      color: #3B2A10;
    }
  }
}