.l-contents{
    display: flex;
    &__left{
        width: 80%;
        height: 100%;
        @include tab{
            position: absolute;
            width: 100%;
            top: 60px;
        };
    }
    &__right{
        width: 20%;
        background-color: #F2EDE9;
        height: inherit;
        @include tab{
            position: fixed;
            left: 100%;
        };
        &.is-open{
            z-index: 200;
            left: 60%;
            width: 40%;
        }
    }
}