.l-header{
    width: 100%;
    height: 200px;
    background-color: #FFF7EF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left{
        margin-left: 3rem;
        a{
            color: #707070;
            font-size: 3rem;
        }
    }
    &__form{
        margin-right: 1.8rem;
        &__box{
           width: 400px;
           height: 46px;
           border-radius: 10px; 
           border: solid 1px #707070;
           font-size: 1.6rem;
           font-weight: 500;
        }
        &__button{
            width: 100px;
            height: 46px;
            background-color: #F2EDE9;
            border-radius: 10px;
            border: solid 1px #707070;
            color: #707070;
            cursor: pointer;
        }
    }
}