.l-header{
    width: 100%;
    height: 200px;
    background-color: #FFF7EF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tab{
        flex-direction: column;
        justify-content: space-around;
    };
    &__left{
        margin-left: 3rem;
        @include tab{
            margin: 0;
        };
        a{
            color: #707070;
            font-size: 4rem;
        }
    }
    &__right{
        margin-right: 1.8rem;
    }
}