.l-main{
    display: flex;
    &__left{
        width: 80%;
        height: 100%;
        @include tab{
            width: 100%;
        };
        &.is-open{ 
            position: fixed;
            overflow-y: auto;
            &::before{
                content: "";
                position: fixed;
                width: 100%;
                height: 100%;
                background-color: rgba(#000, 0.5);
                z-index: 199;        
            }
        }
    }
    &__right{
        width: 20%;
        min-width: 260px;
        background-color: #F2EDE9;
        height: inherit;
        @include tab{
            display: none; 
        };
        &.is-open{
            display: block;
            position: absolute;
            top: 0;
            z-index: 200;
            left: 60%;
            width: 40%;
        }
    }
    &.is-open{
        position: relative;
    }
}